.history__header {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.line {
  width: 70%;
  background-color: gray;
  height: 2px;
  margin-top: 25px;
}

.history__title {
  font-size: 1.3vw;
  background-color: #ffffff;
  color: #214242;
  padding: 3.5px;
  border: none;
  border-radius: 3px;
  width: 30%;
}
ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 2.5rem;
  border: #ffffff;
}

li {
  -webkit-box-shadow: 0px 15px 37px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 15px 37px -4px rgba(0, 0, 0, 1);
  box-shadow: 0px 15px 37px -4px rgba(0, 0, 0, 1);
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  line-height: 23px;
  text-align: center;
}

li > p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
}
